.overdue-item {
	color: #8A6D3B;
	background-color: #FCF8E3;
	border-color: #FAEBCC;
}

.rotate {
/* FF3.5+ */
  -moz-transform: rotate(-90.0deg);
  /* Opera 10.5 */
  -o-transform: rotate(-90.0deg);
  /* Saf3.1+, Chrome */
  -webkit-transform: rotate(-90.0deg);
  /* IE6,IE7 */
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  /* Standard */
  transform: rotate(-90.0deg);
}

.sector_graph {
	width: 100%;
	border: solid thin;
}
.sector_graph .first_col {
	width: 2%;
	height: 150px;
	min-height: 150px;
	/*max-height: 100px;*/
	
}
.sector_graph .first_row {
	padding: 10px;
	text-align: center;
}
.sector_graph .data_col {
	width: 48%;
	padding: 0.4em;
	vertical-align: top;
}

.sector_graph td {
	/*min-width: 50px;*/
	/*min-height: 50px;*/
	border: solid thin;
	border-collapse: collapse;
}

.overdue_task{
	padding-left: 4px;
	margin: 2px 0;
	/*border-top:  1px solid #FAEBCC;*/
	/*border-right: 1px solid #FAEBCC;*/
	/*border-bottom:  1px solid #FAEBCC;*/
	border-left: .6em solid #FAEBCC;
	/*background-color: #FCF8E3;*/
	color: #8A6D3B;
}

.x-axis-row{
	display: table-row;
}
.y-axis-cell{
	max-width: 30px;
}
.x-axis-cell{
	max-height: 30px;
}